<!-- Video section -->
<div class="video_container">
  <%= video_tag "semiotics_homescreen_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
</div>


<!-- Intro section -->
<div class="intro_container">
  <h1>Welcome to s-e-m-i-o-t-i-c-s. One place for all things magical. Here we combine astrology, human design, and tarot to give a broader insight and assist at unlocking new potentials.</h1>
</div>

<!-- Profile section -->
<div class="profile_container">
  <div class="left-section">
    <%= image_tag "221219_Sculpture1.jpg", alt: 'Picture' %>
  </div>

  <div class="right-section">
    <h2>What is <br> s-e-m-i-o-t-i-c-s?</h2>
    <p>S-E-M-I-O-T-I-C-S comes from the term semiology.
    A science that focuses on the sign processes of cultures and nature.
    When interpreting charts, we interpret and react to the signs and arrangements too.
    Human Design, Astrology and Tarot are systems, which can offer access to personal aspects
    and allow individual themes to be visualised more precisely. What is important to me is
    the heterarchical exchange in order to distance oneself from dogmatic prophecies and to
    offer space for ambiguity, chaos and intuition.</p>
    <p>S-E-M-I-O-T-I-C-S is the modern, feminist interpretation of Astrology, Human Design
    and Tarot to unlock potentials and to serve as a mirror and support in personal development processes.</p>
    <p>Here we separate into themes and concepts, that we will look at together through the
    lense of all three concepts, human design, astrology and tarot. This gives a broader context
    and allows intuitive impulses to float into our conversation.</p>
  </div>
</div>


<!-- Topic Carousel section -->
<div class="carousel-container">
  <div class="header">
    <h2>Start here</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
    </svg>
  </div>

  <h3>What area do you want to deep dive in?</h3>
  <div class="cards">
    <% @topics.each do |topic| %>
      <div class="card">
        <div class="front"><%= topic.name %></div>
        <div class="back"><%= topic.summary %></div>
      </div>
    <% end %>
  </div>
</div>



<!-- Booking form section -->
<section class="booking-section">
  <h2>Ready to book your reading?</h2>

  <div class="booking-form">
    <div class="left-booking">
      <!-- Choose your topic -->
      <h3>Choose your topic</h3>
      <p>Select one of the following options:</p>
      <div class="form-topics">
        <ul class="topics">
          <% @topics.each do |topic| %>
            <li>
              <label>
                <%= radio_button_tag :topic, topic.id %>
                <%= topic.name %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>

      <!-- How deep should we go? -->
      <div class="form-length">
        <h3>How deep should we go?</h3>
        <p>
          The lengths and depth of your reading define the price.
          <br>
          If you’d like to have a deep dive, we will look at your human design and astrology chart and discuss patterns that most likely affect this area in your life the most.
          <br>
          With one specific theme we would look at one pattern you already discovered in yourself and look at ways and skills that you have to give specific advice regarding that pattern.
          <br>
          With one question, I will use tarot to get some quick insight.
        </p>
        <ul>
          <li><label><%= radio_button_tag :depth, 'Deep Dive' %>Deep Dive</label></li>
          <li><label><%= radio_button_tag :depth, 'Specific Theme' %>Specific Theme</label></li>
          <li><label><%= radio_button_tag :depth, 'One Question' %>One Question</label></li>
        </ul>
      </div>
    </div>

    <div class="right-booking">
    <!-- Personal Information -->
      <h3>Personal Information</h3>
      <div class="personal-information">
        <div class="contact">
          <div class="input-firstname">
            <label for="customer_name">Name</label>
            <%= text_field_tag :customer_name, nil, required: true %>
          </div>
          <div class="input-email">
            <label for="customer_email">Email</label>
            <%= email_field_tag :customer_email, nil, required: true %>
          </div>
        </div>
        <div class="input-wishes">
          <label for="specific_wishes">Specific Wishes</label>
          <%= text_area_tag :specific_wishes %>
        </div>
      </div>

      <!-- Astrological Background -->
      <h3>Astrological Background</h3>
      <p>Give us some more insight into your astrological background:</p>
      <div class="dates">
        <div class="birth-details">
          <div class="input-birthday">
            <label for="birthday">Birthday</label>
            <%= date_field_tag :birthday, nil, required: true %>
          </div>
          <div class="input-birthtime">
            <label for="birthtime">Birthtime</label>
            <%= time_field_tag :birthtime, nil, required: true %>
          </div>
          <div class="input-birthplace">
            <label for="birthplace">Birthplace</label>
            <%= text_field_tag :birthplace, nil, required: true %>
          </div>
        </div>

        <!-- Calendar to choose the date -->
        <div class="calendar">
          <%= month_calendar do |date, posts| %>
            <%= date %>
            <% posts.each do |post| %>
              <div>
                <p><%= post.challenge %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

      <!-- Submit button -->
      <%# <%= button_to 'Send Booking Request', bookings_path, method: :post, class: 'submit-button' %>
  </div>
</section>
